.button {
  text-transform: uppercase;
  border-radius: 10px;
  margin: 7px 0;
  letter-spacing: 3px;
  width: 100%;
  cursor: pointer;
}
.button:focus {
  font-weight: 700;
  outline: 3px solid;
  outline-offset: 3px;
}
.button:focus.dark {
  outline-color: white;
}
.button:focus.light {
  outline-color: #0f2f62;
}
.dark {
  border: 2px solid #d9f0ff;
  background-color: #d9f0ff;
  color: #0f2f62;
}
.light {
  border: 2px solid #0f2f62;
  background-color: #0f2f62;
  color: #d9f0ff;
}
.big {
  max-width: 500px;
  height: 100px;
  font-size: 30px;
}

.normal {
  max-width: 150px;
  height: 60px;
  font-size: 20px;
}

.small {
  max-width: 100px;
  height: 40px;
  font-size: 10px;
  border-radius: 3px;
}
