.button {
  text-transform: uppercase;
  border-radius: 10px;
  margin: 20px 0;
  letter-spacing: 3px;
  width: 100%;
  cursor: pointer;
}
.button:focus {
  font-weight: 700;
  outline: none;
  box-shadow: 20px 20px 0px #131519;
}
.dark {
  border: 2px solid #d9f0ff;
  background-color: #d9f0ff;
  color: #0f2f62;
}
.light {
  border: 2px solid #0f2f62;
  background-color: #0f2f62;
  color: #d9f0ff;
}
.big {
  width: 20em;
  height: 4em;
}
.big:focus {
  box-shadow: 20px 20px 0px #131519;
}
.normal {
  max-width: 150px;
  height: 60px;
  font-size: 20px;
}
.normal:focus {
  box-shadow: 10px 10px 0px #131519;
}
.small {
  max-width: 100px;
  height: 40px;
  font-size: 10px;
  border-radius: 3px;
}
.small:focus {
  box-shadow: 5px 5px 0px #131519;
}
