.button {
  width: 250px;
  height: 100px;
  border: 2px solid #d9f0ff;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 30px;
  letter-spacing: 3px;
  color: #0f2f62;
  background-color: #d9f0ff;
  cursor: pointer;
}
.button:focus {
  color: #0f2f62;
  font-weight: 700;
  outline: none;
  box-shadow: 20px 20px 0px #131519;
}
