.card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.active {
  transform: rotateY(0.5turn);
}
.content {
  text-align: center;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
}

.cardFront {
  background: red;
  transform: rotateY(0.5turn);
}
.cardBack {
  background: pink;
}
