.card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.active {
  transform: rotateY(0.5turn);
}
.content {
  text-align: center;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 5px solid #0f2f62;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backface-visibility: hidden;
}

.cardFront {
  transform: rotateY(0.5turn);
}
.cardFront.dark {
  background: #d9f0ff;
  color: #0f2f62;
}
.cardFront.light {
  background: #0f2f62;
  color: #d9f0ff;
}

[role="button"]:focus .cardBack,
[role="button"]:focus .cardFront {
  border: 10px solid white;
}
[role="button"]:focus {
  outline: none;
}
