.gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.text {
  margin: 0;
}
.infoBoard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  height: 75px;
  position: sticky;
  width: 100%;
  z-index: 2;
  top: 0;
}
.infoBoard.dark {
  background-color: #0f2f62;
  color: #d9f0ff;
}
.infoBoard.light {
  background-color: #d9f0ff;
  color: #0f2f62;
}
.infoLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
