.gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.text {
  height: 20px;
  margin: 10px 0;
}
