.box {
  width: 200px;
  height: 200px;
  border-radius: 20px 20px 0 0;
  margin: 0 0 10px 0;
  box-shadow: 0px 0px 20px -5px #0f2f62;
}
.box.dark {
  border-bottom: 4px solid #0f2f62;
}
.box.light {
  border-bottom: 4px solid #d9f0ff;
}
.cardContainer {
  width: 200px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 10px 26px -10px #0f2f62;
}
.cardContainer.light {
  background-color: #0f2f62;
}
.cardContainer.dark {
  background-color: #d9f0ff;
}
.selected {
  position: absolute;
  top: 176px;
  left: 140px;
  height: 50px;
  width: 50px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.selected.light {
  background-color: #d9f0ff;
}
.selected.dark {
  background-color: #0f2f62;
}
.selected::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.dark::after {
  border-bottom: 25px solid #d9f0ff;
}
.light::after {
  border-bottom: 25px solid #0f2f62;
}
