.appContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9f0ff;
  color: #0f2f62;
}
.app {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 0;
  margin: auto;
}
.dark {
  background-color: #0f2f62;
  color: #d9f0ff;
}

.upperBar {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 7px 0;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lowerBar {
  max-width: 100%;
  position: sticky;
  bottom: 0;
  border-top: 4px solid #0f2f62;
}

.lowerBar.dark {
  border-top-color: #d9f0ff;
}
