.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dark {
  background-color: #0f2f62;
  color: #d9f0ff;
}
.light {
  background-color: #d9f0ff;
  color: #0f2f62;
}
.upperBar {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lowerBar {
  max-width: 100%;
  position: sticky;
  bottom: 0;
  border-top: 3px solid;
}
.lowerBar.light {
  border-top-color: #0f2f62;
}
.lowerBar.dark {
  border-top-color: #d9f0ff;
}
